@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@400;500;600;700&family=Pangolin&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.homeMain {
    padding: 50px 50px;
    background-color: #f1f1f1;
}

.dashText{
    font-size: 35px !important;
    font-weight: 600 !important;
    color: #be185d;
    display: flex;
    align-items: center;
}

.dashContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
}

.block {
    padding: 10px;
    box-shadow: 1px 2px 3px #aaa9a99f;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
}

.block h2 {
    font-size: 17.5px;
    margin-bottom: 10px;
    font-family: 'Lobster', cursive;
    color: transparent;
    text-shadow: 1px 1px 1px #68626200, 0 0 0 #7979798f;
}

.jokeBlock {
    min-width: 300px;
    max-width: 450px;
}

#jokeDisplay {
    opacity: 0;
    transition: opacity 0.5s ease;
}


.ProgressBlock {
    width: 300px;
}

